@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--font-main: 'Inter', sans-serif;
	--font-size-base: 16px;
	--line-height-base: 1; // 100%
	--letter-spacing-base: 0;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}
